@import './common/mixin';

.page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

a {
  color: #333;
}

.rich-text {
  img {
    max-width: 100%;
  }
  video,
  audio {
    width: 100%;
  }
}
